@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    string a = @User.Identity.Name.ToString();
    string b = a.Split('@')[0];


<div class="container align-items-end">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            @if (User.IsInRole("admin")) {
            <button class="bg-info text-capitalize border-dark rounded font-weight-bold" asp-controller="Admin" asp-action="Index">@Localizer["admin"]</button>
            }
            <button class="bg-info text-capitalize border-dark rounded font-weight-bold text-uppercase" asp-controller="Home" asp-action="Index">@Localizer["welcome"] @b</button><br />
            <button class="bg-info text-capitalize border-dark rounded font-weight-bold">@Localizer["exit"]</button>
        </form>
    </div>
}
else
{
    <div class="container align-items-end">
        <form class="">
            <button class="bg-info text-capitalize border-dark rounded font-weight-bold" asp-area="Identity" asp-page="/Account/Register">@Localizer["reg"]</button>
            <button class="bg-info text-capitalize border-dark rounded font-weight-bold" asp-area="Identity" asp-page="/Account/Login">@Localizer["log"]</button>
        </form>
    </div>
}