@model WebProgramlamaProjesi.Models.Urun
@{var Urun = ViewData["Urunler"] as List<Urun>;
    var kategori = ViewData["Kategoriler"] as List<SelectListItem>;
    int i = 0;}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Localizer["urunEkle"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UrunEkle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label">@Localizer["ad"]</label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label">@Localizer["fiyat"]</label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stok" class="control-label">@Localizer["stok"]</label>
                <input asp-for="Stok" class="form-control" />
                <span asp-validation-for="Stok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategori" class="control-label">@Localizer["kat"]</label>
                <input asp-for="Kategori" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rsm" class="control-label">@Localizer["resim"]</label>
                <input asp-for="rsm" type="file" name="files" class="form-control" />
                <span asp-validation-for="rsm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label">@Localizer["acik"]</label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th></th>
                    <th scope="col">ID</th>
                    <th></th>
                    <th scope="col">@Localizer["urunAd"]</th>

                </tr>
            </thead>
            <tbody>
                @while (i != Urun.Count())
                {

                <tr>
                    <th scope="row">@(i+1)</th>
                    <th></th>
                    <td>@Urun[i].UrunId.ToString()</td>
                    <th></th>
                    <td>@Urun[i].Ad.ToString()</td>
                </tr>
                    i++;
                }

            </tbody>
        </table>
        @Html.BeginForm()
        {@Html.TextBox("Id") <button class="bg-info text-capitalize border-dark rounded font-weight-bold" asp-action="Sil" type="submit"> @Localizer["del"] </button>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
